<a href="https://colab.research.google.com/github/Elmhdi/hello-world/blob/main/L6_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Topic(2)**

In [16]:
# Question 1
x = float(input('input x: ' ))
y = float(input('input y: ' ))

Ans = (x+y**2)*(x+3*y)
print('Ans = %0.4f'%Ans)

input x: 3
input y: 1.2
Ans = 29.3040

In [21]:
# Question 2
x = int(input('value = '))
mm_to_ft = x/305
cm_to_ft = x/30.48
m_to_ft = x*3.281

print('mm to ft  = %0.3f'%mm_to_ft)
print('cm to ft  = %0.3f'%cm_to_ft)
print('m  to ft  = %0.3f'%m_to_ft)

value = 1
mm to ft  = 0.003
cm to ft  = 0.033
m  to ft  = 3.281

In [22]:
# Question 3
import math as m
angle = 10
a = 5
o = (m.tan(angle))*a
c = ((a**2)+(o**2))**0.5
print(o)

3.241804137295433

In [14]:
# Question 4
a,b,count = 0,100,0
for i in range(a,b):
  if i > 1:
    for j in range (2,i):
      if i%j == 0:
        break
    else:
     print('%d is prime number' %i)
     count += 1
     print ('Total prime number is %d' %count)

2 is prime number
Total prime number is 1
3 is prime number
Total prime number is 2
5 is prime number
Total prime number is 3
7 is prime number
Total prime number is 4
11 is prime number
Total prime number is 5
13 is prime number
Total prime number is 6
17 is prime number
Total prime number is 7
19 is prime number
Total prime number is 8
23 is prime number
Total prime number is 9
29 is prime number
Total prime number is 10
31 is prime number
Total prime number is 11
37 is prime number
Total prime number is 12
41 is prime number
Total prime number is 13
43 is prime number
Total prime number is 14
47 is prime number
Total prime number is 15
53 is prime number
Total prime number is 16
59 is prime number
Total prime number is 17
61 is prime number
Total prime number is 18
67 is prime number
Total prime number is 19
71 is prime number
Total prime number is 20
73 is prime number
Total prime number is 21
79 is prime number
Total prime number is 22
83 is prime number
Total prime number is 23
89 is prime number
Total prime number is 24
97 is prime number
Total prime number is 25